<h1>Update Post</h1>
<form action="" method="POST">
  {% csrf_token %}
  <label for="title">Title:</label>
  <br />
  <input type="text" value="{{ post.title }}" name="title" />

  <br />
  <br />

  <label for="author">Author:</label>
  <br />
  <input type="text" value="{{ post.author }}" name="author" />

  <br />
  <br />

  <label for="content">Content:</label>
  <br />
  <textarea name="content">{{ post.content }}</textarea>

  <br />
  <br />

  <button type="submit">Submit</button>
</form>
